<a href="https://colab.research.google.com/github/rabingora001/ASP.Net-CRUDelicious/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [4]:
import os 
os.chdir('/content/drive/MyDrive/TCSS455')

In [6]:
!wget 'https://archive.ics.uci.edu/ml/machine-learning-databases/00522/SouthGermanCredit.zip'

--2020-12-07 20:32:34--  https://archive.ics.uci.edu/ml/machine-learning-databases/00522/SouthGermanCredit.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13130 (13K) [application/x-httpd-php]
Saving to: ‘SouthGermanCredit.zip’

SouthGermanCredit.z 100%[===================>]  12.82K  --.-KB/s    in 0.001s

2020-12-07 20:32:35 (13.8 MB/s) - ‘SouthGermanCredit.zip’ saved [13130/13130]

In [7]:
!unzip "/content/drive/MyDrive/TCSS455/SouthGermanCredit.zip"

Archive:  /content/drive/MyDrive/TCSS455/SouthGermanCredit.zip
 bunzipping: codetable.txt
 bunzipping: read_SouthGermanCredit.R
 bunzipping: SouthGermanCredit.asc

In [9]:
import numpy as np 
import pandas as pd

In [10]:
credit_data = pd.read_csv("SouthGermanCredit.asc", sep=' ')

In [11]:
credit_data.head()

   laufkont  laufzeit  moral  verw  hoehe  ...  beruf  pers  telef  gastarb  kredit
0         1        18      4     2   1049  ...      3     2      1        2       1
1         1         9      4     0   2799  ...      3     1      1        2       1
2         2        12      2     9    841  ...      2     2      1        2       1
3         1        12      4     0   2122  ...      2     1      1        1       1
4         1        12      4     0   2171  ...      2     2      1        1       1

[5 rows x 21 columns]

In [14]:
X = credit_data.drop(['kredit'], axis = 1)
X

     laufkont  laufzeit  moral  verw  ...  beruf  pers  telef  gastarb
0           1        18      4     2  ...      3     2      1        2
1           1         9      4     0  ...      3     1      1        2
2           2        12      2     9  ...      2     2      1        2
3           1        12      4     0  ...      2     1      1        1
4           1        12      4     0  ...      2     2      1        1
..        ...       ...    ...   ...  ...    ...   ...    ...      ...
995         1        24      2     3  ...      2     1      1        2
996         1        24      2     0  ...      3     2      1        2
997         4        21      4     0  ...      4     2      2        2
998         2        12      2     3  ...      4     2      2        2
999         1        30      2     2  ...      3     2      1        2

[1000 rows x 20 columns]

In [15]:
y = credit_data['kredit']
y

0      1
1      1
2      1
3      1
4      1
      ..
995    0
996    0
997    0
998    0
999    0
Name: kredit, Length: 1000, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [18]:
#750 samples with 20 features
X_train.shape

(750, 20)

In [20]:
#1 column result only
y_train.shape

(750,)

In [21]:
X_test.shape

(250, 20)

In [22]:
y_test.shape

(250,)

In [24]:
from numpy import mean
from numpy import std
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [25]:
cv = KFold(n_splits=10, random_state=1, shuffle=True)

In [30]:
clf_logReg = LogisticRegression(random_state=0)
#n_jobs=-1 is the parallel processing for all the cores in cpu.i.e -1
cv_accuracy = cross_val_score(clf_logReg, X, y, cv=cv, scoring='accuracy', n_jobs=-1)
cv_accuracy

array([0.81, 0.75, 0.74, 0.73, 0.81, 0.76, 0.68, 0.82, 0.74, 0.74])

In [31]:
mean(cv_accuracy)

0.7580000000000001

In [32]:
std(cv_accuracy)

0.04142463035441596

In [36]:
from sklearn.model_selection import cross_val_predict
y_pred = cross_val_predict(clf_logReg, X, y, cv=cv, n_jobs=-1, verbose=1)
y_pred

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    1.5s finished

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1])

In [37]:
from sklearn.metrics import classification_report
print(classification_report(y, y_pred, target_names=['bad', 'good']))

              precision    recall  f1-score   support

         bad       0.64      0.44      0.52       300
        good       0.79      0.90      0.84       700

    accuracy                           0.76      1000
   macro avg       0.71      0.67      0.68      1000
weighted avg       0.74      0.76      0.74      1000

In [39]:
#for roc and auc
from sklearn.metrics import auc
from sklearn.metrics import roc_curve

In [42]:
#frp=false positive rate, tpr=true pos rate, 1 = good credit, acu = auc score
fpr, tpr, thresholds = roc_curve(y, y_pred, pos_label=1)
auc(fpr, tpr)

0.6661904761904762